<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>A recovery for password was requested</p>
  <p>Click in the link below to set a new password</p>
  <p><a href="{{link}}">Recovery password</a></p>
  <p>If was not your, ignore this email</p>
  <p>
    Yours sincerely<br />
    <strong> GoBarber Team</strong>
  </p>
</div>
